
*.iml
*.ipr
*.iws
*.class
*.md
out/production/Professor/Professor/bin/GSLogo.png
out/production/Professor/Professor/src/emails.png
out/production/Professor/Professor/src/GSLogo.png
out/production/Professor/Professor/src/help.png
out/production/OODProject/Professor/GSLogo.png
out/production/OODProject/Professor/emails.png
out/production/OODProject/Professor/help.png
out/production/OODProject/questions.txt
out/production/OODProject/Student/questions.txt
